
<%= form_for(@folder) do |f| %>
  <% if @folder.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@folder.errors.count, "error") %> prohibited this folder from being saved:</h2>

      <ul>
      <% @folder.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label 'Nome:' %><br><br>
    <%= f.text_field :name , :class => 'formul'%>
  </div>
  <%= f.hidden_field :parent_id %>
  <%= f.hidden_field :user_id %>
  <div class="actions">
    <%= f.submit :class => "button-primary"%>
  </div>
<% end %>
