<div class="action-buttons">
<% if @current_folder %>
       <%= link_to new_sub_file_path(@current_folder) do%>
       <%= image_tag "cloud-upload.svg", :class => "icone" %>
       <% end %>
       <%= link_to new_sub_folder_path(@current_folder) do%>
       <%= image_tag "folder.svg", :class => "icone" %>
     <% end %>
   <% else %>
       <%= link_to new_archive_path do %>
       <%= image_tag "cloud-upload.svg", :class => "icone" %>
       <% end %>
       <%= link_to new_folder_path do %>
       <%= image_tag "folder.svg", :class => "icone" %>
      <% end %>
      <%= image_tag "reload.svg", :class => "icone" %>
<% end %>
</div>

<div class="breadcrumbs" style="float: right; margin-right: 2%">
  <% if @current_folder #checking if we are under any folder %>
      <%= link_to "Pasta root", root_url %>
      <% @current_folder.ancestors.reverse.each do |folder| %>
          » <%= link_to folder.name, browse_path(folder) %>
      <% end %>
       »  <%= @current_folder.name %>
  <% else #if we are not under any folder%>
      Pasta Root
  <% end %>
</div>

<% @folders.each do |folder| %>
<div class="quadrado folder" >
  <a href="browse/<%= folder.id %>">
    <%= image_tag "folder2.svg", :class => "folder-icone" %>
  </a>
  <div class="informacao">
    <span>
      <%= truncate folder.name, :length => 17  %>
    </span>
    <%= link_to folder, method: :delete, data: { confirm: 'Are you sure?' }  do %>
      <%= image_tag "trash.svg", :class => "info-icone" %>
    <% end %>
  </div> 
</div>
<% end %>

<% @archives.each do |archive2| %>
<% if archive2.uploaded_file_content_type.include? "image" %>
<div class="quadrado" style="background-image: url(<%= archive2.uploaded_file.url %>);">
<% else %>
<div class="quadrado nofile">
<% end %>
  <div class="informacao">
    <span>
      <%= truncate archive2.uploaded_file_file_name, :length => 17  %>
    </span>
    <%= link_to archive2.uploaded_file.url do %>
      <%= image_tag "download.svg", :class => "info-icone" %>
    <% end %>
    <%= link_to archive2, method: :delete, data: { confirm: 'Are you sure?' }  do %>
      <%= image_tag "trash.svg", :class => "info-icone" %>
    <% end %>
  </div>
</div>
<% end %>

